{
  "openapi": "3.1.0",
  "info": {
    "title": "Fabric Messaging API",
    "version": "1.0.0",
    "description": "Server-to-server messaging API. Secret keys must never be used in browsers."
  },
  "servers": [
    {
      "url": "https://api.fabric.africa"
    }
  ],
  "security": [
    {
      "secretKey": []
    }
  ],
  "tags": [
    {
      "name": "SMS"
    },
    {
      "name": "Verify"
    },
    {
      "name": "Wallet"
    },
    {
      "name": "Sender IDs"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/v1/sms/send": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send an SMS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List recent messages",
        "responses": {
          "200": {
            "description": "Messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["messages", "request_id"],
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageSummary"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sms/{id}": {
      "get": {
        "operationId": "retrieveSms",
        "summary": "Retrieve message status",
        "responses": {
          "200": {
            "description": "Message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message", "request_id"],
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/MessageDetail"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/verify": {
      "post": {
        "operationId": "startVerification",
        "summary": "Start an SMS verification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyStartRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyStartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify/check": {
      "post": {
        "operationId": "checkVerification",
        "summary": "Check a verification code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCheckRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification checked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet": {
      "get": {
        "operationId": "retrieveWallet",
        "summary": "Retrieve wallet balances and ledger",
        "responses": {
          "200": {
            "description": "Wallet snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["balances", "ledger", "request_id"],
                  "properties": {
                    "balances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["balance"],
                        "properties": {
                          "balance": {
                            "$ref": "#/components/schemas/Money"
                          },
                          "lowBalanceThreshold": {
                            "$ref": "#/components/schemas/Money"
                          }
                        }
                      }
                    },
                    "ledger": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/senders": {
      "get": {
        "operationId": "listSenderIds",
        "summary": "List sender IDs",
        "responses": {
          "200": {
            "description": "Sender IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["senders"],
                  "properties": {
                    "senders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sender"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSenderId",
        "summary": "Register a sender ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSenderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sender ID submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sender"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "responses": {
          "200": {
            "description": "Webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["endpoints", "request_id"],
                  "properties": {
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Create a webhook endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint and once-only secret",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    },
                    {
                      "type": "object",
                      "required": ["secret"],
                      "properties": {
                        "secret": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "summary": "Delete a webhook endpoint",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Platform error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_test_… or sk_live_…"
      }
    },
    "schemas": {
      "Money": {
        "type": "object",
        "required": ["minor", "currency"],
        "properties": {
          "minor": {
            "type": "string",
            "pattern": "^-?\\d+$"
          },
          "currency": {
            "enum": ["GHS", "NGN", "USD"]
          }
        }
      },
      "MessageStatus": {
        "enum": [
          "queued",
          "sending",
          "accepted",
          "sent",
          "delivered",
          "undelivered",
          "failed",
          "expired"
        ]
      },
      "SendSmsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["to", "sender_id", "body", "currency"],
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{7,14}$"
          },
          "sender_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 11
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "currency": {
            "enum": ["GHS", "NGN", "USD"]
          },
          "class": {
            "enum": ["transactional", "promotional"],
            "default": "transactional"
          }
        }
      },
      "SendSmsResponse": {
        "type": "object",
        "required": [
          "id",
          "status",
          "encoding",
          "segments",
          "cost",
          "request_id"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/MessageStatus"
          },
          "encoding": {
            "enum": ["gsm7", "ucs2"]
          },
          "segments": {
            "type": "integer",
            "minimum": 1
          },
          "cost": {
            "$ref": "#/components/schemas/Money"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "MessageSummary": {
        "type": "object",
        "required": [
          "id",
          "to",
          "status",
          "encoding",
          "segments",
          "cost",
          "provider",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "to": {
            "type": "string",
            "description": "Masked recipient"
          },
          "status": {
            "$ref": "#/components/schemas/MessageStatus"
          },
          "encoding": {
            "enum": ["gsm7", "ucs2"]
          },
          "segments": {
            "type": "integer",
            "minimum": 1
          },
          "cost": {
            "$ref": "#/components/schemas/Money"
          },
          "provider": {
            "type": "string"
          },
          "deliveryMode": {
            "enum": ["live", "virtual"],
            "default": "live"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessageDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MessageSummary"
          },
          {
            "type": "object",
            "required": ["senderId", "redacted", "timeline"],
            "properties": {
              "senderId": {
                "type": "string"
              },
              "body": {
                "type": "string"
              },
              "redacted": {
                "type": "boolean"
              },
              "timeline": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["status", "at"],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/MessageStatus"
                    },
                    "at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "note": {
                      "type": "string"
                    }
                  }
                }
              },
              "failureReason": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "VerifyStartRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["to"],
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{7,14}$"
          },
          "sender_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 11
          }
        }
      },
      "VerifyStartResponse": {
        "type": "object",
        "required": ["id", "status", "to", "channel", "expires_in"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "enum": ["pending", "verified", "failed", "expired"]
          },
          "to": {
            "type": "string"
          },
          "channel": {
            "const": "sms"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 1
          },
          "debug_code": {
            "type": "string",
            "description": "Sandbox only"
          }
        }
      },
      "VerifyCheckRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "code"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "pattern": "^\\d{4,8}$"
          }
        }
      },
      "VerifyCheckResponse": {
        "type": "object",
        "required": ["id", "status", "verified_at"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "enum": ["pending", "verified", "failed", "expired"]
          },
          "verified_at": {
            "type": ["string", "null"],
            "format": "date-time"
          }
        }
      },
      "Sender": {
        "type": "object",
        "required": [
          "id",
          "sender_id",
          "country",
          "type",
          "use_case",
          "status",
          "rejection_reason",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sender_id": {
            "type": "string"
          },
          "country": {
            "enum": ["GH", "NG"]
          },
          "type": {
            "enum": ["alphanumeric", "short-code"]
          },
          "use_case": {
            "type": "string"
          },
          "status": {
            "enum": ["pending", "active", "rejected"]
          },
          "rejection_reason": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSenderRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["sender_id", "country", "use_case"],
        "properties": {
          "sender_id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9 ]{0,10}$"
          },
          "country": {
            "enum": ["GH", "NG"]
          },
          "type": {
            "enum": ["alphanumeric", "short-code"],
            "default": "alphanumeric"
          },
          "use_case": {
            "type": "string",
            "minLength": 10,
            "maxLength": 500
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "url",
          "status",
          "description",
          "env",
          "secret_prefix",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "enum": ["active", "disabled"]
          },
          "description": {
            "type": ["string", "null"]
          },
          "env": {
            "enum": ["sandbox", "live"]
          },
          "secret_prefix": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "maxLength": 200
          },
          "application_id": {
            "type": "string",
            "format": "uuid"
          },
          "env": {
            "enum": ["sandbox", "live"]
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["type", "code", "message"],
            "properties": {
              "type": {
                "enum": [
                  "api_error",
                  "auth_error",
                  "invalid_request_error",
                  "not_found_error",
                  "idempotency_error",
                  "rate_limit_error",
                  "insufficient_funds_error"
                ]
              },
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": "string"
              },
              "doc_url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        }
      }
    }
  }
}
